// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 16px;
	font-family: sans-serif;
	margin: auto;
	width: 100%;
	background-color: #111;	
}

.linky {
	font-size: 1.2em;
	fill: #428bca;
}

.linky:hover {
	fill: yellow;
}

#logo {
	font-size: 3em;
	color: orange;
	margin-left: 20px;
	pointer-events: none;
}

.eventArcs {
	opacity: 0.6;
}

.eventArcs:hover {
	opacity: 1;
}

.hourNums {
	font: 1.67em;
	fill: orange;
	pointer-events: none;
	text-anchor: middle;
}

.schedCentroids {
	font: 1.8em;
	fill: orange;
	pointer-events: none;
	text-anchor: middle;
}

.scheduleRings {
	fill: white;
	opacity: 0.1;
}




/* media queries */


@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}